{% extends "global/html_struct.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="{% url 'servicio_executeaccion' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <h5>Propietario</h5>
            {{ propietario }}
        </div>
        <div class="col-sm-6">
            <h5>Vehiculo</h5>
            {{ vehiculo }}
        </div>
    </div>
    <div class="row">
        <div class="col sm-6">
            {% if titulo_frm_1 %}<h5>{{ titulo_frm_1 }}</h5>{% endif %}
            {{ frm1 | crispy }}
        </div>
        <div class="col sm-6">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%">Kilometros</td>
                    <td style="width: 50%">Gasolina</td>
                </tr>
                <tr>
                    <td class="text-center" style="width: 50%">
                        {% if obj.fotografia_kilometros %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_kilometros }}" class="contrato-img01" />
                        {% endif %}
                    </td>
                    <td class="text-center" style="width: 50%">
                        {% if obj.fotografia_tanque_de_gasolina %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_tanque_de_gasolina }}" class="contrato-img01" />
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table style="width: 100%">
                <tr>
                    <td style="width: 30%">
                    
                    </td>
                    <td style="width: 30%" class="text-center">
                        {% if obj.fotografia_lateral_izquierdo %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_lateral_izquierdo }}" class="contrato-img02" />
                        {% else %}
                            Fotografia Lateral Izquierdo
                        {% endif %}
                    </td>
                    <td style="width: 30%">
                    
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%" class="text-right">
                        {% if obj.fotografia_frente %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_frente }}" class="contrato-img02" />
                        {% else %}
                            Fotografia Frente
                        {% endif %}
                    </td>
                    <td style="width: 30%" class="text-center">
                        {% if obj.fotografia_superior %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_superior }}" class="contrato-img02" />
                        {% else %}
                            Fotografia Superior
                        {% endif %}
                    </td>
                    <td style="width: 30%" class="text-left">
                        {% if obj.fotografia_trasera %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_trasera }}" class="contrato-img02" />
                        {% else %}
                            Fotografia Trasera
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%">
                    
                    </td>
                    <td style="width: 30%" class="text-center">
                        {% if obj.fotografia_lateral_derecho %}
                            <img src="{{ MEDIA_URL }}{{ obj.fotografia_lateral_derecho }}" class="contrato-img02" />
                        {% else %}
                            Fotografia Lateral Derecho
                        {% endif %}
                    </td>
                    <td style="width: 30%">
                    
                    </td>
                </tr>
            </table>
            <h5>Dirección</h5>
            {{ direccion | safe }}
        </div>
    </div>
    <div class="row inventario-contrato">
        <div class="col-sm-4">
            {% if titulo_frm_3 %}<h5>{{ titulo_frm_3 }}</h5>{% endif %}
            {{ frm3 | crispy }}
        </div>
        <div class="col-sm-4">
            {% if titulo_frm_4 %}<h5>{{ titulo_frm_4 }}</h5>{% endif %}
            {{ frm4 | crispy }}
        </div>
        <div class="col-sm-4">
            {% if titulo_frm_5 %}<h5>{{ titulo_frm_5 }}</h5>{% endif %}
            {{ frm5 | crispy }}
            {% if titulo_frm_6 %}<h5>{{ titulo_frm_6 }}</h5>{% endif %}
            {{ frm6 | crispy }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-1 text-center">
            Firma del Prestador del Servicio
            {% if obj.firma_del_prestador_del_servicio %}
                <br /><img src="{{ MEDIA_URL }}{{ obj.firma_del_prestador_del_servicio }}" class="contrato-firma" />
            {% endif %}
        </div>
        <div class="col-sm-4 offset-sm-1 text-center">
            Firma del Consumidor
            {% if obj.firma_del_consumidor %}
                <br /><img src="{{ MEDIA_URL }}{{ obj.firma_del_consumidor }}" class="contrato-firma" />
            {% endif %}
        </div>
    </div>
    <div class="clausulas-contrato">
        <h5>Contrato de Prestación de Servicios</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend tellus a lorem dapibus, a porta tortor lobortis. Mauris aliquet fringilla metus, id varius lorem aliquet sit amet. In cursus metus a lectus volutpat tempus id quis orci. Nulla facilisi. Nullam quam magna, tincidunt et arcu eu, viverra euismod justo. Quisque tristique ultricies ante, sed bibendum elit pellentesque nec. Integer lacinia velit nec arcu ornare, laoreet accumsan neque ornare.</p>
        <p><strong>CLAUSULAS:</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet rutrum mi. Sed ullamcorper nec dui in semper. Morbi facilisis, sapien a volutpat egestas, nisi augue congue dolor, eu hendrerit nulla nibh a dolor. Mauris vestibulum in ante et aliquet. Sed mollis, dolor et euismod consequat, nulla nibh fermentum lectus, quis pellentesque metus dolor tincidunt mauris. Nunc sit amet molestie libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer interdum nisi turpis, vel congue ante consequat sit amet. In eget pellentesque ipsum. Maecenas in libero id quam suscipit tempus et sit amet purus.</p>
        <p>Nullam dignissim pulvinar arcu, et porttitor mauris sodales non. Aenean hendrerit urna sed tortor vulputate, eget fringilla ex eleifend. Ut nec dignissim est. Maecenas consectetur dictum pharetra. Fusce hendrerit eros ipsum, id bibendum est molestie ut. Sed aliquet molestie ullamcorper. Nulla felis ipsum, congue eget suscipit eget, accumsan et nisl. Phasellus urna tortor, laoreet sed tellus vel, efficitur imperdiet neque. Aliquam vel risus suscipit, lobortis leo facilisis, dignissim eros. Sed sollicitudin massa in felis euismod, quis sodales ipsum sagittis. Nullam vitae leo nisl. Aenean feugiat augue ac ligula bibendum imperdiet. In at augue id enim feugiat blandit. Sed velit nisl, mattis eu mauris sit amet, posuere aliquet nisi. Quisque vulputate, lectus nec cursus varius, eros nunc pharetra ex, sed euismod magna dolor sit amet est. Morbi vel accumsan est.</p>
        <p>Vivamus quis nibh venenatis, condimentum mauris sed, mattis nibh. Vestibulum finibus arcu quam, quis blandit turpis sollicitudin tincidunt. Integer molestie tortor at nisi lacinia, eget semper lectus vestibulum. Nunc lobortis ullamcorper varius. Fusce non ipsum sagittis turpis egestas rhoncus. Sed interdum mattis lorem vitae ultricies. Maecenas at sem in elit ornare scelerisque. Maecenas accumsan ipsum et tellus commodo, et viverra lacus dictum. Sed bibendum vehicula odio, vehicula congue neque porttitor convallis. Duis imperdiet ac nunc et dapibus. Aliquam et consequat lacus. Donec vel augue arcu. Duis dui sem, pharetra sit amet sem vitae, hendrerit fringilla erat.</p>
        <p>In ullamcorper urna sit amet nibh feugiat tempor. Nunc ut elementum enim. Praesent dignissim et metus id finibus. Curabitur sodales justo augue, ut condimentum lacus interdum at. Sed malesuada egestas ligula nec interdum. Quisque nunc diam, pulvinar non fringilla sit amet, convallis a arcu. Proin in lacinia turpis, sed ornare erat. Aliquam tempus tincidunt mauris, ac vulputate nisi mattis nec. Vestibulum nulla magna, fermentum ut ultricies nec, ultricies ac magna. Morbi gravida lacus ac varius auctor.</p>
        <p>Proin tincidunt et neque nec imperdiet. Aenean ipsum ex, porta sed posuere non, consequat sed ex. Sed scelerisque velit justo, at commodo felis placerat ut. Proin hendrerit sollicitudin leo in dignissim. Sed feugiat luctus ipsum, ut consectetur ante convallis vitae. Ut dictum non dui eget rutrum. Duis sed vulputate nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam id tincidunt arcu.</p>
        <p>Curabitur egestas scelerisque mauris non pharetra. Sed condimentum luctus quam non feugiat. In hac habitasse platea dictumst. Integer ut ligula vel tellus facilisis auctor sed eu velit. Cras hendrerit nibh vitae urna pharetra, eu interdum libero congue. Donec maximus lectus nunc, vitae imperdiet tellus mattis a. Donec nisi dolor, gravida vitae auctor quis, pharetra ornare enim. Pellentesque vitae tellus purus. Integer nulla ante, interdum ullamcorper rhoncus et, fermentum at nulla.</p>
        <p>Aenean feugiat pharetra risus, vulputate scelerisque metus ultricies a. Maecenas lacus elit, ultricies a vulputate id, sollicitudin non tellus. Donec sit amet mauris a nulla rhoncus varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vehicula turpis eu nibh porttitor rutrum. Sed felis quam, dictum et sapien eu, interdum hendrerit nisl. Cras tristique erat est, a tempus nunc finibus eu. Donec et rutrum mi, id fringilla mi. In at metus ac dolor accumsan commodo. Proin metus turpis, imperdiet a urna id, suscipit consectetur elit.</p>
        <p>Praesent ut ornare risus. Nullam et massa sapien. Vivamus porta dui non purus maximus, sit amet posuere dolor ultrices. Suspendisse potenti. Quisque a eros cursus, dictum velit nec, consectetur nulla. Quisque leo urna, ornare eget suscipit id, dictum sed ante. Quisque placerat, neque viverra mollis facilisis, purus massa tristique nisl, in elementum lectus erat in ipsum. Aenean dui metus, rhoncus sit amet orci quis, molestie eleifend sem. Integer maximus scelerisque elit in lacinia. Nam quis congue tortor, eu fringilla est.</p>
        <p>In accumsan volutpat purus at vulputate. Phasellus purus turpis, bibendum sed odio id, varius vestibulum mi. Praesent laoreet urna ac turpis pulvinar, nec suscipit felis finibus. Aenean imperdiet diam a enim dignissim suscipit. Sed at tortor id tellus convallis dignissim. Suspendisse nec mattis augue. Nunc eget posuere eros. Proin eu sapien pulvinar, imperdiet nisl tincidunt, fringilla mi. Quisque maximus nisl vitae mauris interdum, in lobortis mi rhoncus. Suspendisse semper eget turpis vel aliquam. Cras non rhoncus nulla. Curabitur eget justo pellentesque nunc interdum semper. Suspendisse accumsan neque at convallis varius. Nulla sit amet justo eget quam auctor pulvinar. Proin convallis et sapien quis pharetra. Praesent ut elementum mauris, vel aliquet nisi.</p>
        <p>Suspendisse at aliquam arcu. Aenean accumsan nec nisi in semper. Etiam dui nulla, elementum molestie consectetur sit amet, vehicula eu urna. Vivamus quis volutpat leo. Vivamus justo elit, elementum sed fermentum eu, fermentum id diam. Quisque sit amet luctus leo. Phasellus sollicitudin feugiat felis, quis viverra erat cursus sit amet. Vestibulum eu leo vestibulum, hendrerit metus ac, condimentum nisi. Quisque sapien nulla, varius vel nisi quis, auctor auctor ipsum. Etiam blandit porttitor ante, vel tincidunt mi tincidunt nec. Duis tempor erat sit amet commodo fermentum. Mauris ut nunc vitae purus fermentum faucibus. Praesent turpis eros, consequat ac viverra at, facilisis nec turpis.</p>
        <p>Nullam fermentum rhoncus ligula et tincidunt. In vel mollis mi. Nunc feugiat et nibh sit amet scelerisque. Curabitur dignissim nunc eu sapien viverra, nec congue mauris tristique. Aenean sem augue, varius et pulvinar nec, convallis nec ante. Curabitur finibus rutrum mauris mollis consectetur. Sed vitae risus tincidunt, mollis velit in, rhoncus arcu. Phasellus pellentesque varius massa, sit amet eleifend ante condimentum vitae. Mauris vel odio metus. Maecenas fermentum, quam quis sagittis sagittis, ligula ex vulputate magna, nec laoreet justo magna ut quam. Nulla bibendum lectus eu nulla porta vulputate non sit amet tortor. Cras ultricies nisi id libero dictum, at tempus ipsum interdum. Nulla suscipit imperdiet est, eu luctus risus sollicitudin non.</p>
        <p>In nibh dolor, blandit ac laoreet in, vestibulum quis risus. Duis ultricies viverra nibh, at pharetra tortor laoreet eu. Aliquam scelerisque diam at turpis faucibus, at tristique odio fermentum. Cras non congue libero. Sed consectetur non nisl sed pharetra. Morbi feugiat odio vitae ornare sagittis. Aliquam iaculis aliquam eleifend. Nunc vel purus congue, malesuada dolor semper, posuere metus. In malesuada dolor nec nulla ullamcorper laoreet. Nam id accumsan libero, eget tristique felis. In non faucibus ante. Phasellus mattis efficitur diam sit amet congue. Curabitur bibendum tempor lorem, ut tincidunt odio tincidunt at. Duis sagittis ipsum ac enim eleifend dignissim. Vivamus sed elit sem.</p>
    </div>
</form>

{% endblock %}