{% extends "global/email/base.html" %}
{% load static %}
{% load util_filters %}

{% block content %}
<p>Estas recibiendo este mensaje ya que has sido de alta como un nuevo usuario en el sitio <strong><a href="//{{ request.get_host }}/" style="color: #bdc6d3;">BMhaus</a></strong> y nos complace mucho darte la bienvenida al sitio.</p>
<p>Aprovechamos también para indicarte tus datos de acceso al sistema:</p>
<p>
    Tu usuario es: <i>{{ usuario.usuario }}</i><br />
    Y tu contraseña: <i>{{ usuario.contraseña }}</i>
</p>
<p>Para accesar debes dirigirte a <a href="//{{ request.get_host }}/" style="color: #bdc6d3;">{{ request.get_host }}</a>.</p>
{% endblock %}