{% load static %}
{% load util_filters %}
<!-- menu_main.html (Open) -->
<!--
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'panel' %}">
            <img src="{% static 'img/logo_in_app.png' %}" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                {% for mp in menu_main.perms %}
                    <li class="nav-item">
                    {% if 0 == mp.items_qty %}
                        <a href="{% if mp.permiso.vista %}{% url mp.permiso.vista %}{% else %}#{% endif %}" class="nav-link">
                            {{ mp.permiso.mostrar_como }}
                        </a>
                    {% else %}
                        <a href="{% if mp.permiso.vista %}{% url mp.permiso.vista %}{% else %}#{% endif %}" id="mainMenu-{{ mp.permiso.pk }}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ mp.permiso.mostrar_como }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mainMenu-{{ mp.permiso.pk }}">
                            {% for it in mp.items %}
                                <a href="{% if it.permiso.vista %}{% url it.permiso.vista %}{% else %}#{% endif %}" class="dropdown-item">
                                    {{ it.mostrar_como }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
-->

<a href="{% url 'panel' %}" class="no-print">
    <img src="{{ MEDIA_URL }}{{ '01 General.main_menu_icon' | get_setting }}" class="float-left main_menu_icon" />
</a>
<div class="container print">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ MEDIA_URL }}{{ '01 General.logo_impresion' | get_setting }}" class="float-left main_menu_icon" />  
        </div>
        <div class="col-sm-6">
            <small>
                Estilo y Tecnología Automotriz S.A. de C.V. RFC: ETA180910-MX8<br/>
                {{ '02 Pagina Inicial.direccion' | get_setting }}<br />
                Teléfono: {{ '02 Pagina Inicial.contacto_telefono' | get_setting }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Correo: {{ '02 Pagina Inicial.contacto_email' | get_setting }}<br />
            </small>
        </div>
        <div class="col-sm-3" id="main_extra_data_col3">
        </div>
    </div>
</div>

<!-- menu_main (Close) -->