{% extends "global/html_struct.html" %}
{% load util_filters %}

{% block content %}

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th></th>
            <th>Usuario</th>
            <th>Cliente</th>
            <th>E-Mail</th>
            <th>Celular</th>
            <th>Teléfono</th>
            <th>Teléfono de Oficina</th>
            <th class="text-right" colspan="5"></th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr>
                <td>{% if reg.fotografia %}<img class="rounded-circle" src="{{ MEDIA_URL }}{{ reg.fotografia }}" height="40" width="40" />{% endif %}</td>
                <td>{{ reg.usuario }}</td>
                <td>{{ reg }}</td>
                <td>
                    {% if reg.email %}
                    <a href="mailto:{{ reg.email }}">
                        {{ reg.email }}
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if reg.celular %}
                    <a href="https://api.whatsapp.com/send?phone=52{{ reg.celular }}" target="_blank">
                        {{ reg.celular }}
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if reg.telefono %}
                        <a href="tel:{{ reg.telefono }}">
                            {{ reg.telefono }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if reg.telefono_oficina %}
                        <a href="tel:{{ reg.telefono_oficina }}">
                            {{ reg.telefono_oficina }} 
                        </a>
                        {% if reg.extension %}(ext. {{ reg.extension }}){% endif %}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.app.ver_notas_del_cliente_nota or perms.app.agregar_notas_al_cliente_nota %}
                        <button onclick="Cte.showNotasCte( {{ reg.pk }}, '{{ reg }}' )" type="button" class="btn btn-outline-secondary" title="Ver notas">
                            <i class="far fa-comment-alt"></i>
                        </button>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.app.agregar_alertas_al_cliente_alerta %}
                        <button onclick="Cte.showAlertsCte( {{ reg.pk }}, '{{ reg }}' )" type="button" class="btn btn-outline-secondary" title="Agregar Alerta">
                            <i class="far fa-bell"></i>
                        </button>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.app.clientes_user %}
                    <a href="{% url 'cliente_see' pk=reg.pk %}" class="btn btn-outline-secondary" title="Ver"><i class="far fa-eye"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.app.actualizar_clientes_user %}
                    <a href="{% url 'cliente_update' pk=reg.pk %}" class="btn btn-outline-secondary" title="Actualizar"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.app.eliminar_clientes_user %}
                    <a href="{% url 'cliente_delete' pk=reg.pk %}" class="btn btn-outline-secondary" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/x-handlebars-template" id="notas-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        {% if perms.app.agregar_notas_al_cliente_nota %}
        <input type="hidden" name="action" value="add-note" />
        <input type="hidden" name="nota_cte" id="nota_cte" value="" />
        <div class="row">
            <div class="col form-group">
                <label for="nota">Nueva Nota</label>
                <textarea name="nota" id="nota" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="fecha_notificacion">¿Crear una notificación?</label>
                <input class="form-control" type="date" name="fecha_notificacion" id="fecha_notificacion" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Agregar Nota</button>
        {% endif %}
        <div id="notas-cliente"></div>
    </form>
</script>

<script type="text/x-handlebars-template" id="alerta-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        {% if perms.app.agregar_notas_al_cliente_nota %}
        <input type="hidden" name="action" value="add-alert" />
        <input type="hidden" name="alert_cte" id="alert_cte" value="" />
        <div class="row">
            <div class="col form-group">
                <label for="nota">Nueva alerta</label>
                <textarea name="nota" id="nota" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="fecha_notificacion">Fecha de notificación:</label>
                <input class="form-control" type="date" name="fecha_notificacion" id="fecha_notificacion" required="required" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Agregar Alerta</button>
        {% endif %}
    </form>
</script>

{% for reg in data %}
<script type="text/x-handlebars-template" id="notas-cte-{{ reg.pk }}-template">
    {% for nota in reg.notas.all %}
    <hr />
    <div class="row">
        <div class="col">
            <span class="text-muted">
                {{ nota.created_at | date:"d/m/Y" }}: 
            </span>
            {{ nota.nota | as_paragraph | safe }}
            <p class="blockquote-footer">{{ nota.created_by }}</p>
        </div>
    </div>
    {% endfor %}
</script>
{% endfor %}

{% endblock %}