{% extends "global/html_struct.html" %}
{% load util_filters %}

{% block content %}

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>ID</th>
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Orden de Entrada</th>
            <th class="text-right" colspan="3"></th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr>
                <td>{{ reg.identificador | ifNone }}</td>
                <td>{{ reg.proveedor | ifNone }}</td>
                <td>{{ reg.fecha | date:"d/m/Y" }}</td>
                <td>
                    {% for orden in reg.orden_de_entrada.all %}
                        {{ orden }} 
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% if permiso.ver %}
                    <a href="{% url 'ordendecompra_see' pk=reg.pk %}" class="btn btn-outline-secondary" title="Ver"><i class="far fa-eye"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if permiso.actualizar %}
                    <a href="{% url 'ordendecompra_update' pk=reg.pk %}" class="btn btn-outline-secondary" title="Actualizar"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if permiso.eliminar %}
                    <a href="{% url 'ordendecompra_delete' pk=reg.pk %}" class="btn btn-outline-secondary" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
        